<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">


	<context:component-scan base-package="com.revature"></context:component-scan>

	
	<tx:annotation-driven/>
	
	<!-- Data Source Bean Configuration -->
	<bean id="ourDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:postgresql://localhost:5432/postgres"></property>
		<property name="username" value="postgres"></property>
		<property name="password" value="project0"></property>
		<property name="driverClassName" value="org.postgresql.Driver"></property>
	</bean>
	
	<!-- Session Factory Bean -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="ourDataSource"></property>
		<property name="packagesToScan" value="com.revature"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>
	<!-- TransactionManager Bean -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="nestedTransactionAllowed" value="true"></property>
	</bean>

	<!-- enable spring mvc annotations -->
	<mvc:annotation-driven></mvc:annotation-driven>	
		
	<!-- set up view resolve and location for static resource retrieval -->
	<mvc:resources location="/WEB-INF/static/" mapping="/static/**"></mvc:resources>

	<bean name="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/static/"></property>
		<property name="suffix" value=".html"></property>
	</bean>	
	<!--  AOP Bean
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>v  -->

</beans>